<a href="https://colab.research.google.com/github/Tclack88/pandas_exercises/blob/master/05_Merge/Housing%20Market/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [0]:
a = pd.Series(np.random.uniform(1,4,100))
b = pd.Series(np.random.uniform(1,3,100))
c = pd.Series(np.random.uniform(10000,30000,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [47]:
df = pd.concat([a,b,c],axis=1)
df.head()

          0         1             2
0  3.565927  2.018862  13943.601623
1  1.788815  1.829857  10948.968150
2  2.058474  2.518573  22445.173984
3  2.300958  2.349623  28171.363895
4  3.440093  1.947829  19902.842522

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [49]:
# This is more complicated, but definitely a way to practice for larger datasets
old_cols = df.columns.tolist()
new_cols = ['bedrs','bathrs','price_sqr_meter']
rename_cols = dict(zip(old_cols,new_cols))

df = df.rename(columns=rename_cols)
df.head()

      bedrs    bathrs  price_sqr_meter
0  3.565927  2.018862     13943.601623
1  1.788815  1.829857     10948.968150
2  2.058474  2.518573     22445.173984
3  2.300958  2.349623     28171.363895
4  3.440093  1.947829     19902.842522

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [51]:
bigcolumn = pd.concat([a,b,c])
print(bigcolumn.shape)
bigcolumn.head()

(300,)

0    3.565927
1    1.788815
2    2.058474
3    2.300958
4    3.440093
dtype: float64

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [56]:
bigcolumn.index.nunique()

100

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [0]:
bigcolumn = bigcolumn.reset_index()

In [59]:
bigcolumn.index.nunique()

300